@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the start - AZ-204</p>
    <p>ngcvm &copy;2023 - building Web apps with ASP.NET Core</a>.</p>
</div>
